/* about styling */
.listAboutMe {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 0px 10px;
  padding: 0px;
  margin: 20px 0px 0px;
  overflow: hidden;
  list-style: none;
}

.aboutSection h1 {
  font-size: 3em;
}

.aboutSection p {
  font-size: 1.3em;
}

@media (max-width: 400px) {
  .aboutSection h1 {
    margin-bottom: 5px;
  }
  .aboutSection p {
    font-size: 1.1em;
  }
}