/* about styling */
.aboutSection {
  display: flex;
}
.listAboutMe {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 0px 10px;
  padding: 0px;
  margin: 20px 0px 0px;
  overflow: hidden;
  list-style: none;
}

.aboutSection h1 {
  font-size: 3em;
}

.aboutSection p {
  font-size: 1.3em;
}

.aboutSection a {
  color: black;
  font-weight: bold;
}

.imageContainer {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 900px) {
  .imageContainer {
    position: relative;
    left: 50px;
  }
  .textContainer {
    max-width: 60%;
  }
}

@media (max-width: 400px) {
  .aboutSection h1 {
    margin-bottom: 5px;
    font-size: 26px;
  }
  .aboutSection p {
    font-size: 18px;
  }
  .aboutSection {
    flex-direction: column;
  }
}