.careerSection {
  margin-top: 150px;
  margin-right: 0;
  height: 100%;
}

.careerSection h1 {
  color: black;
  font-size: 32px;
}

.careerTableSection {
  display: flex;
}

/* table */
.careerth {
  display: flex;
  flex-direction: column;
  width: 150px;
}

.careerth a {
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.careerth a:hover {
  background: rgba(238, 230, 202, 0.1);
  transition: 0.5s ease-in;
}
/* card  */
.careertd{
  width: 65%;
  margin-left: 25px;
}

/* selected table */
.selected {
  border-left: 2px solid black;
}

.selected span {
  color: black;
  font-weight: bold;
}

/* mobile styles */
@media (max-width: 400px) {
  .careerSection {
    margin-top: 50px;
  }
  .careerth{
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10px;
  }
  .careerth a {
    width: 50%;
  }
  .careerth span {
    min-width: 60px;
  }
  .careerTableSection {
    flex-direction: column;
  }  
  .break {
    flex-basis: 100%;
    height: 0;
  }
}