/* landing section */
.hi {
  color: #64ffda;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.name {
  font-size: 3.8rem;
  color: #0c273d;
  margin: 0;
}

.nameSubText {
  font-size: 3.3rem;
  color: #144369;
  margin-top: 20px;
}

.landingIntroText {
  font-size: 1.4rem;
  line-height: 2rem;
}

.sectionContainer p a {
  color: black;
  font-weight: bold;
}

@media (max-width: 400px) {
  #hero-section {
    margin-bottom: 20px;
    height: 10px;
    width: 10px;
  }
  .name {
    font-size: 40px;
  }
  .nameSubText {
    font-size: 40px;
  }
  .landingIntroText {
    font-size: 18px;
    line-height: normal;
  }
}