.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 80%;
}
.n1 {
  height: 100%;
  width: 100%;
  position: absolute;
  right: 13px;
}
.n2 {
  width: 100vw;
  height: 100vh;
}

.n3 {
  height: 100%;
  width: 100%;
  position: absolute;
}

@media (max-width: 400px) {
  .imageContainer img{
    height: 100%;
    width: 100%;
  }  
  .n1 {
    right: 3px;
  }
}

.landingContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.landingContainer a {
  z-index: 100;
}

.landingContainer img {
  
}

.hiButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 10px;
}

.hiButton span {
  margin-bottom: 20px;
  text-transform: uppercase;
  animation: blink 1.5s linear infinite;
}

@keyframes blink {
  0%{opacity: 0;}
  50%{opacity: .5;}
  100%{opacity: 1;}
}

.hide {
  display: none;
}