/* sidebar styling */
.sidebarEmail {
  position: fixed;
  right: 4vw;
  bottom: 0;
  z-index: 100;
}
.sidebarEmail a{
  writing-mode: vertical-rl;
}
.emailLine {
  border-left: 1px solid black;
  height: 50px;
  margin-left: 8px;
}

@media (max-width: 400px) {
  .sidebarEmail {
    position: fixed;
    right: 2vw;
    bottom: 0;
  }
}