/* header styling */
.landingHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  position: fixed;
  transition-timing-function: ease-in;
  transition: 1.5s;
  width: 70%;
}
.headerLinks ul {
  display: flex;
  justify-content: space-between;
  text-align: right;
}

.headerLinks li {
  margin: 0 20px;
}

@media (max-width: 500px) {
  .headerLinks ul {
    position: fixed;
    top: 20px;
    right: 20px;
    flex-direction: column;
    text-align: right;
  }
  .headerLinks li {
    margin: 0;
  }
}