/* header styling */
.landingHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 10000;
  font-weight: bold;
  color: rgb(15, 51, 81);
  font-size: 20px;
}
.headerLinks ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.headerLinks li {
  margin: 0 20px;
}

.headerLinks {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(8,117,227, 0.75);
}

.headerHide {
  display: none;
}

@media (max-width: 500px) {
  .headerLinks ul {
    position: fixed;
    top: 20px;
    right: 0;
    flex-direction: column;
    text-align: right;
    background: rgb(8,117,227, 0.75);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    padding: 5px;
  }
  .headerLinks li {
    margin: 0;
    margin-bottom: 10px;
  }
}

/* hover effect */
.link:hover{
  color: black;
}

.headerLinks .link:hover:before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.headerLinks .link:before {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 3px;
  top: 30px;
  z-index: 7;
  left: 0;
  background-color: #0f3351;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all .65s cubic-bezier(.7,.3,0,1);
  -o-transition: all .65s cubic-bezier(.7,.3,0,1);
  transition: all .65s cubic-bezier(.7,.3,0,1);
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
  will-change: transform;
}

.headerLink .link:after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 2px;
  z-index: 8;
  left: 0;
  background-color: #0f3351;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all .65s cubic-bezier(.7,.3,0,1);
  -o-transition: all .65s cubic-bezier(.7,.3,0,1);
  transition: all .65s cubic-bezier(.7,.3,0,1);
  -webkit-transform-origin: right;
  -ms-transform-origin: right;
  transform-origin: right;
}

.headerLogo {
  margin-top: 5px !important; 
}