/* header styling */
.landingHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 70%;
  z-index: 100;
}
.headerLinks ul {
  display: flex;
  justify-content: space-between;
  text-align: right;
}

.headerLinks li {
  margin: 0 20px;
}

.headerLinks {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(8,117,227, 0.75);
}

.headerHide {
  display: none;
}

@media (max-width: 500px) {
  .headerLinks ul {
    position: fixed;
    top: 20px;
    right: 20px;
    flex-direction: column;
    text-align: right;
  }
  .headerLinks li {
    margin: 0;
  }
}