.container {
  padding: 0 2rem;
}

.background {
  opacity: 1;
  background: linear-gradient(20deg, rgb(76, 236, 248), rgb(0, 113, 223));
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

/* header styling */
.landingHeader {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5vh;
}
.headerLinks {
  max-width: 30%;
}
.headerLinks ul {
  display: flex;
  justify-content: space-between;
  text-align: right;
}

.headerLinks li {
  margin: 0 20px;
}

@media (max-width: 500px) {
  .headerLinks ul {
    position: fixed;
    top: 20px;
    right: 20px;
    flex-direction: column;
    text-align: right;
  }
  .headerLinks li {
    margin: 0;
  }
}
/* sidebar social links */
.sideBarSocials {
  position: fixed;
  left: 4vw;
  bottom: 0;
  margin: 0;
}
.sideBarSocials ul li a svg{
  height: 20px;
  width: 20px;
}
.verticalLine {
  border-left: 1px solid black;
  height: 50px;
  margin-left: 8px;
}

/* main styling */
.main {
  min-height: 100vh;
  padding: 4rem 100px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
@media (max-width: 400px) {
  .main {
    padding: 0 20px;
  }
}

/* landing section */
.landingTextSection {
  height: 95vh;
  display: flex;
  align-items: center;
}

.hi {
  color: #64ffda;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.name {
  font-size: 3.8rem;
  color: #0c273d;
  margin: 0;
}

.nameSubText {
  font-size: 3.6rem;
  color: #144369;
  margin-top: 0;
}

.landingIntroText {
  font-size: 1.4rem;
  font-weight: lighter;
  line-height: 2rem;
}

/* about styling */
.listAboutMe {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 0px 10px;
  padding: 0px;
  margin: 20px 0px 0px;
  overflow: hidden;
  list-style: none;
}

/* sidebar styling */
.sidebarEmail {
  position: fixed;
  right: 4vw;
  bottom: 0;
}
.sidebarEmail a{
  writing-mode: vertical-rl;
}
.emailLine {
  border-left: 1px solid black;
  height: 50px;
  margin-left: 8px;
}

/* footer styling */
.footer {
  display: flex;
  flex: 1;
  max-height: 50px;
  padding: 1.5rem 0;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

