.container {
  padding: 0 2rem;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

/* header styling */
.landingHeader {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 50px;
}
.headerLinks {
  max-width: 30%;
}
.headerLinks ul {
  display: flex;
  justify-content: space-between;
  text-align: right;
}

.headerLinks li {
  margin: 0 20px;
}

@media (max-width: 500px) {
  .headerLinks ul {
    position: fixed;
    top: 20px;
    right: 20px;
    flex-direction: column;
    text-align: right;
  }
  .headerLinks li {
    margin: 0;
  }
}
/* sidebar social links */
.sideBarSocials {
  position: fixed;
  left: 4vw;
  bottom: 0;
  margin: 0;
}
.sideBarSocials ul li a svg{
  height: 20px;
  width: 20px;
}
.verticalLine {
  border-left: 1px solid black;
  height: 50px;
  margin-left: 8px;
}

/* main styling */
.main {
  min-height: 100vh;
  padding: 4rem 100px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
@media (max-width: 400px) {
  .main {
    padding: 0 20px;
  }
}

/* about styling */
.listAboutMe {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 0px 10px;
  padding: 0px;
  margin: 20px 0px 0px;
  overflow: hidden;
  list-style: none;
}

/* sidebar styling */
.sidebarEmail {
  position: fixed;
  right: 4vw;
  bottom: 0;
}
.sidebarEmail a{
  writing-mode: vertical-rl;
}
.emailLine {
  border-left: 1px solid black;
  height: 50px;
  margin-left: 8px;
}

/* footer styling */
.footer {
  display: flex;
  flex: 1;
  max-height: 50px;
  padding: 1.5rem 0;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

